<div class="">
  <h3 class="h4"><%= @agent.full_name %></h3>
  <p><%= @agent.company %></p>
    <div class="btn btn-info">Call now</div>
    <div class="btn btn-success">Email for more details</div>
  </div>
