<div class="text-center border pt-4 pb-4 ml-3">
  <%= profile_picture @agent %>
  <h3 class="h4"><%= @agent.full_name %></h3>

  <p><%= @agent.comapny %></p>
  <div class="btn btn-info">Call </div>
  <div class="btn btn-success">Email</div>
</div>
