.new_account {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-centerr{
  margin-top: 5%;
}
.form-floating>.form-control, .form-floating>.form-select {
    height: calc(2.5rem + 2px) !important;
    padding: 1rem .75rem !important;
}

.form-floating {

    margin-top: 4% !important;
}
